.carousel-container{
    width: 100vw;
    height: 60vh;
    background-color: rgb(230, 230, 230);
   
   
}

.carousel-center{
    display: flex;
    counter-reset:sectionImg;
    
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    overflow-y: hidden;

}
.carousel-item::before{
    counter-increment: sectionImg;
    content: counter(sectionImg);
   
    /* transition: 0.5s; */
    /* content: counter(sectionImg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 5px black; */
}

.carousel-item{
    height: 60vh;
    

}

.carousel-item img{
    width: 100vw;
    height: 60vw;

}


.carousel{
    display: flex;
}


/* INFO */
.carousel-info-container{
    display: flex;
    flex-direction: column;
    width: 40vw;

    margin: 1vw 0 1vw 4vw;

    
}

.carousel-info-container h2{
    font-size: 2vw;
    margin: 1vw 0 1vw 0;
}

.carousel-info-container p{
    font-size: 1.5vw;
}


@media (max-width: 768px){
    .carousel-info-container{
        width: 90vw;
    }

    .carousel-info-container h2{
        font-size: 5vw;
        margin: 1vw 0 1vw 0;
    }
    
    .carousel-info-container p{
        font-size: 3.5vw;
    }
    
}