
.categories-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
  
    
    /* width: 100vw; */
    /* height: 30vw; */
    /* background-color: aqua;  */
    
}


.categories{
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(127, 172, 255); */
}





