
.section-container{
background-color: rgb(6, 6, 26);
color: rgb(168, 168, 168);

/* border: solid cadetblue 10px; */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.products-container{
    display: flex;
    width: 75vw;
    margin: 2vw;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

