
.section-container{
background-color: rgb(6, 6, 26);
color: rgb(168, 168, 168);

/* border: solid cadetblue 10px; */

display: flex;
width: 100vw;
flex-direction: column;
justify-content: center;
align-items: center;
}
.image-section{
    background-image: url("/img/close-up-sex-toy2.jpg");
    
    height: 30vh;
    width: 100vw;
    display: flex;
    overflow: hidden;

    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-section img{
    width: 100%;
    height: 100%;
}


.products-container{
    display: flex;
    flex: 4;
    width: 75vw;
    margin: 2vw;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-letters{
    display: flex;
    flex: 1;
    background-color: rgb(197, 211, 211);
}