.shop-products-list{
    flex: 6;
    display: flex;
   padding: 2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    background-color: #f7f7f7;
 
    
}

.products-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
    padding: 0.5vw 0.5vw ;
    height: 70vh;
}